<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Syncful</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- Vue.js dev -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div id="app">
      <main>
        <h1>{{ title }}</h1>
        <label for="password">
          Password
          <input type="password" v-model="token" id="password" />
        </label>

        <button v-on:click="getProducts" class="btn">
          Get Products
        </button>

        <div v-for="entry in entries" class="product">
          <div class="product">
            <div class="image">
              <img :src="entry.product.images.en[0]" />
            </div>
            <h2>
              {{ entry.product.name.en}}
            </h2>
          </div>
          <div class="variant">
            <div v-for="field in getFields(entry.variants[0])">
              {{field.name}}
            </div>
          </div>
          <div v-for="variant in entry.variants" class="variant">
            <div v-for="field in getFields(variant)">
              {{field.value}}
            </div>
          </div>
        </div>

        <button v-on:click="addEntry" class="btn">
          Add Entry
        </button>
      </main>

      <footer></footer>
    </div>
  </body>
</html>
