main {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  align-items: baseline;
}

.btn {
  padding: 5px 10px;
  background: white;
  border: 2px solid darkblue;
  color: darkblue;
  width: 100%;
}
.btn:hover, .btn:focus , .btn:active {
  font-weight: bold;
}

.product {}

.variant {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  margin: 10px;
}

.image {
  margin-left: 20px;
  height: 50px;
}

img {
  max-height: 100%;
  max-width: 100%;
}